.book-home {
    table {
        margin: 0 auto;
        width: 50%;
        a {
            &:hover {
                text-decoration: underline;
            }
        }
        tr {
            th {
                text-align: left;
                &.rating, &.reviews {
                    text-align: center;
                }
            }
            td {
                &.title, &.author  {
                    width: 35%;
                }
                &.rating, &.reviews {
                    text-align: center;
                    width: 15%;
                }

            }
        }
    }

    form {
        margin: 50px auto 0;
        text-align: center;
        input {
            margin-right: 15px;
            padding: 10px;
            font-size: 16px;
            border-width: 1px;
            border-style: solid;
        }
        button {
            padding: 10px;
            border-radius: 5px;
            font-size: 16px;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .log-in-notice {
        text-align: center;
        margin-top: 50px;
    }
}
