.site-header {
    width: 100%;
    height: 50px;
    display: flex;
    a {
        display: block;
        margin-block-start: .8em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        color: #FFCB77;
        text-decoration: none;
        &:hover {
            color: white;
        }
    }
    .site-name {
        width: 15%;
        text-align: right;
        .home {
            text-decoration: none;
        }
    }
    .site-items {
        width: 70%;
        text-align: right;
    }
    .user-info {
        width: 15%;
        .username {
            width: 55%;
            float: left;
            text-align: right;
        }
        .logout {
            width: 30%;
            float: right;
        }

        .login{
            text-align: center;
        }
    }
}
