<!DOCTYPE html>

<html>
    <head>
        <link rel=stylesheet type=text/css href="../static/css/base.css">
        <link rel=stylesheet type=text/css href="../static/css/book_home.css">
        <link rel=stylesheet type=text/css href="../static/css/book_individ.css">
        <link rel=stylesheet type=text/css href="../static/css/header.css">
        <link rel=stylesheet type=text/css href="../static/css/home.css">
    </head>
    <body class="site-body {% block body_class %}{% endblock %}">
        <div class="site-header">
            {% include 'header.html' %}
        </div>
        <div class="site-content">
            <h1 class="page-heading">{% block heading %}{% endblock %}</h1>
            <h3 class="page-subheader">{% block subheader %}{% endblock %}</h3>

            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
