{% extends "base.html" %}

{% block body_class %}
home
{% endblock %}

{% block heading %}
    Ryan Werth
{% endblock %}

{% block subheader %}
{% endblock %}


{% block body %}
    <div class="about-wrapper">
        <div class="contact flex orange-text">
            <a href="https://www.linkedin.com/in/ryan-werth-8b90a5191/" target="_blank">LinkedIn</a>
            <a href="https://github.com/ry-werth" target="_blank">Github</a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&feature=emb_title" target="_blank">Tik Tok</a>
        </div>
        <h1 class="about-header light-blue-text"> What Is This? </h1>
        <div class="about-content">
            This Website is a playground for me. I use it to practice and play around.</br>
            It's built using Flask and hosted with Heroku.</br>
            Go checkout the book ranking system, it's the first part of the site.</br>
            Take a look around!</br>
        </div>
        <h1 class="about-header light-blue-text"> Who Am I? </h1>
        <div class="about-content">
            I majored in Physics then went on to work in Web Development. I worked remotely for two years after college and spent this time travelling around South and Central America, Europe and Morocco. I learned most of what I know about programming on the job.</br></br>
            I like to surf, camp, and brew kombucha. I'm not great at sitting still, but if I am, it's usually because I'm reading or trying to learn something new on the computer.
        </div>
    </div>
{% endblock %}
