{% extends "base.html" %}

{% block body_class %}
home
{% endblock %}

{% block heading %}
    Hey It's Ryan Werth
{% endblock %}

{% block subheader %}
    Welcome To My Website
{% endblock %}


{% block body %}
    <div class="about-wrapper">
        <h1 class="about-header"> What Is This? </h1>
        <div class="about-content">
            This Website is a bit of a plyground for me. I use it to practice and showcase new skills.</br>
            It's built using Flask. With a databse hosted on heroku.</br>
            Go checkout the book ranking system, which I built to work on databse storage and queries.</br>
            Take a look around!</br>
        </div>
        <h1 class="about-header"> Who Am I? </h1>
        <div class="about-content">
            I majored in Physics then went on to work in Web Development. I learned most of what I know about programming on the job.</br>
            I worked remotely for two years after college and spent this time travelling around South and Central America, Europe and Morocco.</br>
            I love to surf, meet new people, and push my comfort zone.</br>
            I'm not great at sitting still, but if I am, it's usually because I'm reading or trying to learn something new on the computer.</br>
        </div>
        <h1 class="about-header"> Contact Me </h1>
        <div class="about-content">
            <li>You can learn more about my Professional Expereriences on <a href="https://www.linkedin.com/in/ryan-werth-8b90a5191/" target="_blank">LinkedIn</a></li>
            <li>You can check out some of my code on <a href="https://github.com/ry-werth" target="_blank">Github</a></li>
            <li>Or You can always follow me on <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&feature=emb_title" target="_blank">Tik Tok</a> to check out my moves</li>
        </div>
    </div>
{% endblock %}
