.book-individ h1 {
  margin-bottom: 5px; }
  .book-individ h3 {
    margin-top: 5px; }
    .book-individ .rating.rounded-0 {
      color: #9c9c9c; }
      .book-individ .rating.rounded-1 {
        color: #f51b1b; }
        .book-individ .rating.rounded-2 {
          color: #f5b245; }
          .book-individ .rating.rounded-3 {
            color: #f5ec45; }
            .book-individ .rating.rounded-4 {
              color: #aae649; }
              .book-individ .rating.rounded-5 {
                color: #13d426; }
.book-individ .rating-info {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 60px; }
  .book-individ .rating-info form {
    margin-top: 30px; }
.book-individ .return-container {
  text-align: center; }
