.home .about-wrapper {
  padding-top: 50px; }
  .home .about-wrapper .about-header {
    text-align: center; }
    .home .about-wrapper .about-content {
      width: 600px;
      margin: 0 auto;
      text-align: left;
      padding-bottom: 40px; }
